.PERSONALWEBSITE{
	background-image: url(Ola.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
ul{
	float: right;
	margin-top: 25px;
	margin-right: 25px;
}
ul li{
	display: inline;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid #fff;
	border-radius: 50px;
	border-spacing: 50%;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
.PERSONALWEBSITE img{
	margin-top: 25px;
	margin-left: 13px;
	float:  left;
	height: 300px;
	width: 300px;
	border-radius: 50%;